<!DOCTYPE html>{block name="initial"}{/block}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="shortcut icon" type="image/x-icon" href="{:base64_image(pathof('pluck', 'logo.ico'))}"/>
        {if !$Think.env.app_debug}
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/styles/pluck.min.css"/>
        {/if}
        <title>{:lang($title ?? 'Pluck')}</title>
        {if $Think.env.app_debug}
        {:inline_style(pathof('pluck', 'asset', 'styles', 'pluck.min.css'))}
        {/if}
    </head>
    <body>
        <header class="bg-dark">
            <nav class="navbar">
                <a class="navbar-brand" href="{:pluck_link()}">
                    <img alt="icon" src="{:base64_image(pathof('pluck', 'logo.ico'))}"/>
                    <span class="text">Pluck</span>
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">{:lang('Home')}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{:pluck_link('logout')}">{:lang('Logout')}</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="sidebar bg-light">
            <nav class="navbar">
                <nav class="nav flex-column">
                    {volist name=":Sidebar::getItems()" id="item"}
                    <a class="nav-link{$item.active ? ' active' : ''}" href="{$item.link}">{:lang($item.text)}</a>
                    {notempty name="$item.children"}
                    <nav class="nav flex-column">
                        {volist name="$item.children" id="child"}
                        <a class="nav-link{$child.active ? ' active' : ''}" href="{$child.link}">{:lang($child.text)}</a>
                        {/volist}
                    </nav>
                    {/notempty}
                    {/volist}
                </nav>
            </nav>
        </section>
        {block name="mainpane"}
        <section class="mainpane">
        </section>
        {/block}
        {if $Think.env.app_debug}
        {:inline_script(pathof('pluck', 'asset', 'scripts', 'pluck.min.js'))}
        {else/}
        <script type="text/javascript" charset="utf-8" src="/scripts/pluck.min.js"></script>
        {/if}
    </body>
</html>