<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="shortcut icon" type="image/x-icon" href="{:Html::makeDataUrl(['pluck', 'logo.ico'])}"/>
        <title>{:lang('_setup_')}</title>
        {:Html::inlineStyle(pathof('pluck', 'asset', 'styles', 'setup.min.css'))}
    </head>
    <body>
        <header class="bg-dark text-center">
            <img class="m-3 shadow rounded" alt="logo" src="{:Html::makeDataUrl(['pluck', 'logo.png'])}"/>
        </header>
        {block name="content"}{/block}
        {:Html::inlineScript(pathof('pluck', 'asset', 'scripts', 'setup.min.js'))}
    </body>
</html>