.banner {
    background-color: #313737;
    text-align: center;
}

// 提交表单样式
form.ajax {
    margin: 2rem auto;
    padding: 1rem 2rem;
    max-width: 20rem;
    border: 1px solid #aaa;

    // 字段输入框
    .field {
        margin: 0.5rem auto;
        padding: 0.5rem;
        overflow: hidden;

        // 小图标
        & > svg {
            float: left;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: -2rem;

            // 随后的编辑框
            + .edit {
                margin-left: 2rem;
            }
        }


        input {
            width: 100%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #777;
            box-sizing: border-box;
            font-size: 1.25rem;
        }
        img[alt=captcha] {
            width: 50%;
            float: left;
            height: 3rem;

            + .edit {
                width: 40%;
                float: right;
                height: 3rem;

                & > input {
                    height: 3rem;
                }
            }
        }
    }

    .tip {
        color: #b90028;
        margin-top: 1rem;
    }

    // 按钮
    button {
        width: 100%;
        font-size: 1.5rem;
        line-height: 2.5rem;
        box-sizing: border-box;
        border: 1px solid #006fb9;
        color: #006fb9;
        background-color: white;
        position: relative;

        // 按下状态
        &:active {
            color: white;
            background-color: #006fb9;
        }

        // 焦点伪边框
        &:focus::before {
            content: "";
            position: absolute;
            top: -0.25rem;
            left: -0.25rem;
            right: -0.25rem;
            bottom: -0.25rem;
            box-sizing: border-box;
            border: 0.25rem solid rgba(0, 174, 255, 0.25);
        }
    }
}