<nav class="topbar navbar">
    {// 导航标识 开始}
    {assign name="brand" value=":pluck\facade\Topbar::getBrand()"}
    <a class="navbar-brand" href="{:is_array($brand.link) ? url(...$brand.link) : $brand.link}">
        <img alt="icon" src="{:Html::makeDataUrl(['pluck', 'logo.ico'])}"/>
        <span class="text">{:is_array($brand.text) ? lang(...$brand.text) : $brand.text}</span>
    </a>
    {// 导航标识 结束}
    {// 左导航栏 开始}
    <ul class="navbar-nav mr-auto">
        {foreach :pluck\facade\Topbar::getLeftItems() as $id => $item}
        <li class="nav-item">
            <a class="nav-link" href="{:is_array($item.link) ? url(...$item.link) : $item.link}">
                {present name="item.icon"}
                <i class="{$item.icon}"></i>
                {/present}
                <span>{:is_array($item.text) ? lang(...$item.text) : $item.text}</span>
            </a>
        </li>
        {/foreach}
    </ul>
    {// 左导航栏 结束}
    {// 右导航栏 开始}
    <ul class="navbar-nav ml-auto">
        {foreach :pluck\facade\Topbar::getRightItems() as $id => $item}
        <li class="nav-item">
            <a class="nav-link" href="{:is_array($item.link) ? url(...$item.link) : $item.link}">
                {present name="item.icon"}
                <i class="{$item.icon}"></i>
                {/present}
                <span>{:is_array($item.text) ? lang(...$item.text) : $item.text}</span>
            </a>
        </li>
        {/foreach}
    </ul>
    {// 右导航栏 结束}
</nav>