/**
 * 编辑器
 */
 .editor {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;

    .toparea {
        input {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .save {
        outline: none;
    }

    [name=status] {
        width: 8em;

        .ql-picker-label::before, .ql-picker-item::before {
            content: attr(data-label);
        }
    }

    .ql-container {
        height: 20rem;
    }
}