.sidebar {
    width: 15rem;
    position: absolute;
    top: 3.5rem;
    bottom: 0;
    overflow-y: auto;

    [data-toggle=collapse] {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
        border: none;
        background: transparent;
        outline: none;
        font-size: 1rem;
        font-weight: 800;
    }

    .active + [data-toggle=collapse] > svg {
        transform: rotateZ(-90deg);
    }

    .nav-item {
        position: relative;

        .nav {
            font-weight: lighter;
            text-indent: 3em;

            & > a.nav-link.active {
                background-color: rgba(37, 0, 117, 0.5);
            }
        }
    }

    .nav {
        width: 100%;
        font-weight: 700;
        text-indent: 1.5em;
    }

    & > .navbar {
        padding: 0;

        a.nav-link {
            width: 100%;
            margin: 0;
            padding: 0;
            display: block;
            line-height: 2rem;

            &.active {
                color: white;
                background-color: rgba(0, 37, 100, 0.5);
            }
        }
    }
}