{extend name="layout"/}

{block name="initial"}
{:Sidebar::activate('main', 'administrator')}
{/block}

{block name="mainpane"}
<section class="mainpane p-3">
    <form class="ajax m-5" method="post" action="{:pluck_link('administrator/add')}" data-key="/public.key">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text">{:lang('Account')}</label>
            </div>
            <input class="form-control" name="account" type="text" placeholder="{:lang('Account')}" required/>
            <div class="input-group-prepend">
                <label class="input-group-text">{:lang('Password')}</label>
            </div>
            <input class="form-control" name="password" type="password" placeholder="{:lang('Password')}" required/>
            <div class="input-group-prepend">
                <label class="input-group-text">{:lang('Priority')}</label>
            </div>
            <input class="form-control" name="priority" type="text" placeholder="{:lang('Priority')}" required/>
            <div class="input-group-prepend">
                <label class="input-group-text">{:lang('Name')}</label>
            </div>
            <input class="form-control" name="name" type="text" placeholder="{:lang('Name')}" required/>
            <input name="operation" type="hidden" value="add"/>
            <div class="input-group-prepend">
                <button class="btn btn-outline-info" type="submit">+</button>
            </div>
        </div>
        <div class="tip">

        </div>
    </form>
    <ol class="list-group">
        {volist name="administrators" id="administrator"}
        <li class="list-group-item">
            <div class="input-group">
                <span class="input-group-prepend">
                    <label class="input-group-text">{$administrator.id}</label>
                    <label class="input-group-text">{$administrator.account}</label>
                </span>
                <input name="name" class="form-control" type="text" value="{$administrator.name}"/>
                <span class="input-group-append">
                    <label class="input-group-text">{:lang('Password')}</label>
                </span>
                <input name="name" class="form-control" type="password" value="{$administrator.password}"/>
                <span class="input-group-append">
                    <label class="input-group-text">{:lang('Priority')}</label>
                </span>
                <input name="priority" class="form-control" type="text" value="{$administrator.priority}"/>
                <span class="input-group-append">
                    <label class="input-group-text">{$administrator.signdate|date='Y-m-d'}</label>
                    <label class="input-group-text">{$administrator.logintime|date='Y-m-d: h:i:s'}</label>
                    <a href="#" data-toggle="button" class="btn btn-outline-secondary">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                </span>
            </div>
        </li>
        {/volist}
    </ol>
</section>
{/block}