<!DOCTYPE html>{block name="initial"}{/block}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="shortcut icon" type="image/x-icon" href="{:Html::makeDataUrl(['pluck', 'logo.ico'])}"/>
        <link rel="stylesheet"  charset="utf-8" href="/styles/pluck.min.css"/>
        <title>{:lang($title ?? 'Pluck')}</title>
    </head>
    <body>
        <header class="bg-dark">
            {include file="widget/topbar"/}
        </header>
        <section class="middle">
            {include file="widget/sidebar"/}
            {block name="mainpane"}{/block}
        </section>
        <script  charset="utf-8" src="/scripts/pluck.min.js"></script>
    </body>
</html>